<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Dapper" version="2.0.90" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="itext7" version="7.1.16" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.0" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="19.3.0.46" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.3.0.46" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="19.3.0.46" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.0" targetFramework="net472" />
</packages>